.settings
target
*.class
*~
.project
.classpath

# Idea IntelliJ
.idea
*.iml
overlays/

# npm debugging logs
npm-debug.log*
# project dependencies
node_modules
# OSX folder attributes
.DS_Store
# temporary files
*.tmp