#body { padding-top: 70px; }
#.conteudo {padding-top: 70px;}

.centered {
	position: relative;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.loading {
	background-image: url(../imgs/ajax-loader.gif);
	background-repeat: no-repeat;
}

.react-selectize.root-node {
    width: auto !important;
}
